LARs_spawnComp_debug = 1; //1 = RPT output, 2 = RPT output and ingame visual positioning info


class CfgCompositions {
	
	class roadblock_small {
		//roadblock_small
		#include "roadblock_small.sqe"
	};

	class roadblock_wide {
		//roadblock_wide
		#include "roadblock_wide.sqe"
	};

	class mortar_east {
		//mortar_east
		#include "mortar_east.sqe"
	};	

	class mortar_west {
		//mortar_west
		#include "mortar_west.sqe"
	};	

	class mortar_indep {
		//mortar_indep
		#include "mortar_indep.sqe"
	};		

	class AmmoCamp {
		//AmmoCamp
		#include "AmmoCamp.sqe"
	};			

	class ArtilleryCamp {
		//ArtilleryCamp
		#include "ArtilleryCamp.sqe"
	};	

};
